

<div class="bottom-space-md">
    <div class="row">
        <div class="col-sm-3">
            <%= render 'messages/user_search_bar', users: User.all %>
        </div>
        <div class="col-sm-8">
            <% @messages.each do |sender, message_group| %>
                <div class="bottom-space-md">
                    <%= render 'users/inbox_summary', path: messages_from_user_path(sender) , user: sender, unviewed: message_group.select{ |m| !m.viewed and m.reciever == @user }.length  %> 
                </div>
            <% end %>
        </div>
        <div class="col-sm-1"></div>
    
    </div>
        
</div>
