<div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10">
        <%= sanitize_markdown markdown %>
    </div>
    <div class="col-lg-2 col-md-1"></div>
</div>
