<hr>
<div class="bottom-space-md">
    <div class="row post-form-container">
        <div class="col-sm-11 post-form-container">
            <%= render 'posts/form', post: Post.new, topic: topic %>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>