<div class="col-sm-1 sticky-holder">
        <div class="sticky-sidebar after-navbar">    
               
            <%= genius(topic, 'whitesmoke', 'whitesmoke') %>
            <%= likes(topic, 'whitesmoke', 'whitesmoke') %>
            <%= dislikes(topic, 'whitesmoke', 'whitesmoke') %>

        </div>
    </div>