<div class="col-sm-1 sticky-holder">
        <div class="sticky-sidebar after-navbar">    
               
            <span class="inline"><%= genius(topic, 'whitesmoke', 'whitesmoke')%></span>
            <span class="inline"><%= likes(topic, 'whitesmoke', 'whitesmoke') %></span>
            <span class="inline"><%= dislikes(topic, 'whitesmoke', 'whitesmoke') %></span>

        </div>
    </div>