<div class="row bottom-space-md">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="bg-charcoal shadow-sm rounded border large-font padded text-center d-flex justify-content-center align-items-center">
            <h3><span class="tag-lg text-center"><%= tag_type.name %></span> <strong></strong></h3>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>