<div class="bg-<%= bg_color %> color-<%= color %> padded rounded border shadow-sm <%= 'hover-white' if bg_color == "charcoal" %> link-no-underline">
    <p class="text-center"><%= notification.content.html_safe %></p>
</div>