<% if logged_in? %>
    <div class="inline">
        <a id="js-follow-user-<%= user.id%>" class="rounded-circle js-follow-user-button <%= followed ? following_color : not_following_color %> padded-sm follow link-bluegray-bg-hover link-plain-hover" href="<%= follow_user_path(user) %>">
            <i class="material-icons <%= "small-" if small %>follow color-charcoal" >person_add</i>
        </a>
    </div>
<% end %>