<div class="d-flex justify-content-center">
    <p class="no-margin padded-sm color-offwhite bg-charcoal rounded text-center"><%= "#{pluralize user.topics.length, 'published topic'} || #{pluralize user.posts.length, 'topic comment'}  || #{pluralize user.followers.length, 'follower'}"%></p>
</div>