<%= render 'users/spec_title', title: title %> 
<div class="bg-offwhite shadow-sm topic-summary border bottom-space-md bottom-padding-md">
    <%= render 'topics/summary_view', topic: topic %>
</div>
