<%= render 'users/dashboard_nav_buttons', user: @user, selected: :following %>
    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
                <% @following.each do |following_user|%>
                    <div class="bottom-space-md">
                        <%= render 'users/summary', user: following_user %>
                    </div>
                <% end %>  
        </div>
        <div class="col-sm-2"></div>
    
    </div>


