<div class="row">
    <div class="col-sm-3">
        <div class="bg-offwhite">
        
        </div>
    </div>
    <div class="col-sm-6">
        <div class="bg-offwhite">
            <p><%= @user.bio %></p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="bg-offwhite">
        
        </div>
    </div>
</div>