<div class="row bottom-padding-md" id="js-topic-reply-container">
    <div class="col-sm-12">
        <div class="topic-reply bg-offwhite inline">
            <a class="reply-button" href="/topics/{{id}}/posts/new#post-anchor"><i class="material-icons color-aqua ">reply</i><small class="color-aqua ">Reply</small></a>
        </div>                           
    </div>
</div>
