<%= form_for(post, url: topic_posts_path(topic)) do |f| %>
    <div class="form-group post-field-container">
        <%= f.text_area :content, placeholder: "Add your comments here...", class: "form-control form-content-text" %>
    </div>
    <div class="form-group">
        <%= f.submit class: "btn btn-primary bg-lavender border-lavender btn-sm" %>
   </div>
<% end %>