<div class="row reaction-holder ">
    <div class="col-sm-12">  
        <div class="logged-out-rxns inline"><%= genius(post, 'charcoal', 'charcoal', 'md-14') %></div>
        <div class="logged-out-rxns inline"><%= likes(post, 'charcoal', 'charcoal', 'md-14 logged-out-rxns') %></div>
        <div class="logged-out-rxns inline"><%= dislikes(post, 'charcoal', 'charcoal', 'md-14 ') %></div>
    </div>
</div>


