/*  COLORS   */

.color-aqua {
    color: #6BBAA7;
}

.color-sunshine{
    color: #fba100;
}

.color-lavender{
    color: #6c6488;
}

.color-dusty-rose{
    color: #b6a19e;
}

.bg-aqua {
    background-color: #6BBAA7;
}

.bg-sunshine{
    background-color: #fba100;
}

.bg-lavender{
    background-color: #6c6488;
}

.bg-dusty-rose{
    background-color: #b6a19e;
}

.border-aqua {
    border-color: #6BBAA7;
}

.border-sunshine{
    border-color: #fba100;
}

.border-lavender{
    border-color: #6c6488;
}

.border-dusty-rose{
    border-color: #b6a19e;
}

/*  SPACING   */

.after-navbar{
    margin-top: 75px;
}


/* FIELDS  */

