/*  COLORS   */

.color-aqua {
    color: #6BBAA7;
}

.color-bluegray{
    color: rgb(51, 84, 113)
}
.color-sunshine{
    color: #fba100;
}

.color-lavender{
    color: #6c6488;
}

.color-dusty-rose{
    color: #b6a19e;
}

.color-charcoal{
    color: rgb(42, 42, 42);
}

.bg-aqua {
    background-color: #6BBAA7;
}

.bg-sunshine{
    background-color: #fba100;
}

.bg-lavender{
    background-color: #6c6488;
}

.bg-dusty-rose{
    background-color: #b6a19e;
}

.bg-charcoal{
    background-color: rgb(42, 42, 42);
}

.bg-light-gp{
    background-color: #EBDFE0;
}

.bg-bluegray{
    background-color: rgb(51, 84, 113)
}
.border-aqua {
    border-color: #6BBAA7;
}

.border-sunshine{
    border-color: #fba100;
}

.border-lavender{
    border-color: #6c6488;
}

.border-dusty-rose{
    border-color: #b6a19e;
}

/*  SPACING   */

.after-navbar{
    margin-top: 85px;
}

.width-three-quarters{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.width-half{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.top-space{
    margin-top: 20px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.inline{
    display: inline;
}

/* FIELDS and COMPONENTS */
.error-text{
    color: red;
}   

a {
    color: #6BBAA7;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.border-bottom{
    border-bottom: 2px solid rgb(62, 58, 58);
}

.shadow{
    text-shadow: 4px 4px 4px #aaa;
}

.title-text{
    font-family: 'Cinzel', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
}

 .preview-text{
    font-family: 'Abel', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.standard-text{
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-bold{
    font-weight: bold;
}

blockquote{
    border-left: 2px solid rgb(62, 58, 58);
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(218, 218, 218);
    color: rgb(25, 25, 25);
    font-weight: bold;
    border-radius: 3px;
    margin-left: 20px;
}

blockquote p{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
