<div class="topic-tags">
    <ul class="topic-tag-list d-flex justify-content-start">
        <% tag_types.each do |t| %>
            <li class="tag"><%= t.name %>  </li>
        <% end %>
    </ul>
</div>